// Primary color palette 
$themes:( // newtral  
  dark:( // xdark  
    xdark: #00374c,
    dark: #0e3c52,
    base: #1e4963,
    light: #305368,
    xlight: #afc1ca),
  primary:( // dark  
    xdark: #464646,
    dark: #4b4b4b,
    base: #b1b1b1,
    light: #e6e6e6,
    xlight: #ffffff,
    // red: #FA5E5B,
    // green: #16C98D,
    // orange: #FFC83F,
    // yellow: #FEEF6D,
  ));

@each $themeName,
$theme in $themes {
  .#{$themeName} {
    a {
      color: map-get($map: $theme, $key: xlight)
    }

    color: map-get($theme, xlight);
    background-color: map-get($theme, dark);

    // a {
    //   color: map-get($theme, xlight);
    //   text-decoration: none;
    //   cursor: pointer;
    // }
  }
}