// Primary color palette 
$themes:( // newtral  
  dark:( // xdark  
    xdark: #00374c,
    dark: #0e3c52,
    base: #365d75,
    light: #7c8f9b,
    xlight: #eaeff1),
  primary:( // dark  
    xdark: #333333,
    dark: #383838,
    base: #b1b1b1,
    light: #e6e6e6,
    xlight: #ffffff,
    // red: #FA5E5B,
    // green: #16C98D,
    // orange: #FFC83F,
    // yellow: #FEEF6D,
  ));

@each $themeName,
$theme in $themes {
  .#{$themeName} {
    a {
      color: map-get($map: $theme, $key: xlight)
    }

    color: map-get($theme, xlight);
    background-color: map-get($theme, dark);
  }
}