@import '../themes.scss';

@each $themeName,
$theme in $themes {
  .#{$themeName} {
    .el-menu {
      background-color: map-get($theme, dark);
      color: map-get($theme, xlight)
    }
  }
}
.el-menu {
  border-right: none;
  height: 100%;
}

.el-menu:not(.el-menu--collapse) {
  width: 200px;
  // min-height: 400px;
}