.content-box-container {
  overflow-y: auto;

  .filter-box {
    display: flex;
    height: 48px;
    margin-bottom: 10px;
    justify-content: space-between;

    .right-btns {
      width: 124px; //225
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        width: 96px;
      }
    }

    .filter-input {
      width: 200px;
      margin-right: 10px;
    }
  }

  .h-table-box {
    width: 100%;
    min-height: 160px;
    height: calc(100% - 470px);
  }

  .host-bottom-details-box {
    width: 100%;
    height: 400px;
    margin-top: 10px;

    .host-details-tabs {
      height: 100%;
      width: 100%;

      .tab-panel {
        height: 100%;
        width: 100%;

        .operation-bar {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;

          .o-bra-left {
            display: flex;
          }

          .filter-input {
            width: 300px;
          }

          .query-yellow {
            margin: 0 10px;
          }
        }

        .h-table-box {
          height: calc(100% - 65px);
        }
      }
    }
  }
}
