@use './variables.scss';

@each $themeName,
$theme in $themes {
  .#{''+$themeName} {
    color: map-get($theme, xlight);
    background-color: map-get($theme, dark);

  }

  .#{''+$themeName}-drag--header {
    background-color: map-get($theme, xdark);
  }

  .#{''+$themeName}-drag--main {
    background-color: map-get($theme, base);
  }

  .#{''+$themeName}-drag--footer {
    background-color: map-get($theme, base);
  }
}